.game {
  position: relative;
  margin: auto;
  background: #222;
  overflow: hidden;
  box-shadow: 0 0 20px #000;
}

.app,
.game {
  cursor: url('/images/spray-small.png') 20 20, crosshair;
}

@keyframes background-animation {
  /* set background position to the first frame */
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: -300px 0;
  }
}

.flu-sprite {
  width: 60px;
  height: 60px;

  background: transparent url('/images/flu-sprite-animate.png') no-repeat top
    center;
  background-size: auto 60px;

  animation: background-animation 2s steps(5) infinite;
}

.covid-sprite {
  width: 60px;
  height: 60px;

  background: transparent url('/images/covid-sprite-animate.png') no-repeat top
    center;
  background-size: auto 60px;

  animation: background-animation 2s steps(5) infinite;
}

.score {
  color: #fff;
  padding: 10px;
  font-size: 20px;
}
